<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/reparaciones-pendientes"></ion-back-button>
    </ion-buttons>
    <ion-title>Reparaciones Detalle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div color="dark">
    <ion-row>
      <ion-col size="6">
        <h4>
          Cliente 
        </h4>
      </ion-col>
      <ion-col size="6">
        <h4>
          {{this.nombre_cliente}}
        </h4>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <h4>
          Telefono 
        </h4>
      </ion-col>
      <ion-col size="6">
        <h4>
          {{this.telefono}}
        </h4>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <h4>
          Marca del Equipo 
        </h4>
      </ion-col>
      <ion-col size="6">
        <h4>
          {{this.marca}}
        </h4>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <h4>
          Modelo del Equipo 
        </h4>
      </ion-col>
      <ion-col size="6">
        <h4>
          {{this.modelo}}
        </h4>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <h4>
          Color del Equipo 
        </h4>
      </ion-col>
      <ion-col size="6">
        <h4>
          {{this.color}}
        </h4>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col size="6">
        <h4>
          Password del Equipo 
        </h4>
      </ion-col>
      <ion-col size="6">
        <h4>
          {{this.password}}
        </h4>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <h4>
          Persona que reparo el Equipo 
        </h4>
      </ion-col>
      <ion-col size="6">
        <h4>
          {{this.persona_reparo}}
        </h4>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <h4>
          Persona que entrego el Equipo 
        </h4>
      </ion-col>
      <ion-col size="6">
        <h4>
          {{this.person_entrego}}
        </h4>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <h4>
          Producto adicional por la reparacion
        </h4>
      </ion-col>
      <ion-col size="6">
        <h4>
          {{this.adicional}}
        </h4>
      </ion-col>
    </ion-row>


  </div>
</ion-content>
