<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/reparaciones-pendientes"></ion-back-button>
    </ion-buttons>
    <ion-title>Entregar Reparación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-row>
    <ion-col>
      <ion-label>
        ¿Quien lo Reparo?
      </ion-label>
      <ion-select [(ngModel)]="personaReparo" okText="Okay" cancelText="Dismiss" [ngModelOptions]="{standalone: true}">
        <ion-select-option *ngFor="let usuario of usuarios" [value]="usuario.uid">{{usuario.displayName}}
        </ion-select-option>
      </ion-select>

    </ion-col>
  </ion-row>


  <ion-row>
    <ion-col>
      <ion-label>
        ¿Quien lo Entrego?
      </ion-label>
      <ion-select [(ngModel)]="personaEntrego" okText="Okay" cancelText="Dismiss" [ngModelOptions]="{standalone: true}">
        <ion-select-option *ngFor="let usuario of usuarios" [value]="usuario.uid">{{usuario.displayName}}
        </ion-select-option>
      </ion-select>

    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-label>
        Detalle de la reparacion
      </ion-label>
      <ion-item>
        <ion-textarea placeholder="Enter more information here..." [(ngModel)]="detalles_reparacion"></ion-textarea>
      </ion-item>

    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item class="roundedInput">
        <ion-input type="text" placeholder="Adicional" [(ngModel)]="adicional" value="{{this.productoScaneado}}"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="3">
      <ion-icon (click)="scan()" style="font-size: 3.5rem;" name="qr-code-outline"></ion-icon>
    </ion-col>
    <ion-col size="3">
      <ion-icon (click)="obtenerProducto(adicional)" style="font-size: 3.5rem;" name="search-outline"></ion-icon>
    </ion-col>

  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item class="roundedInput">
        <ion-label>Fecha Entrega</ion-label>
              <ion-datetime min="2000-02" max="2050" [(ngModel)]="fecha_entrega" [ngModelOptions]="{standalone: true}"
                [dayShortNames]="customDayShortNames"
                displayFormat="DDD. MMM DD, YY"
                monthShortNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"></ion-datetime>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item color="dark">
        <ion-label>Equipo Entregado</ion-label>
        <ion-toggle color="success" [(ngModel)]="equipo_entregado"></ion-toggle>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button color="success" (click)="entregarReparacion(personaReparo,personaEntrego,detalles_reparacion,adicional,fecha_entrega,equipo_entregado)" shape="round" expand="full">
        Entregar Equipo
      </ion-button>
    </ion-col>
  </ion-row>



  <ion-row>
    <ion-col class="mt-3">
      <ion-label>
        Informacion Detallada de la Reparacion
      </ion-label>

      <hr>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-label>
        {{reparaciones.nombre_cliente}}
      </ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-label>
        {{reparaciones.telefono}}
      </ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-label>
        {{reparaciones.fecha_dejaron}}
      </ion-label>
    </ion-col>
  </ion-row>

  







</ion-content>