<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/productos"></ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content class="center" color="dark">
  <div class='container'>
    <h3>Reparaciones Pendientes</h3>

    <div class="mb-3" *ngFor="let reparacion of reparaciones" (click)="viewMoreInformation(reparacion.id)">
      <ion-item color="dark" *ngIf="this.reparacionesEntregadas.id != reparacion.id" >

          <ion-label>
            {{reparacion.nombre_cliente}}
          </ion-label>
          <ion-label>
            {{reparacion.marca}} {{reparacion.modelo}}
          </ion-label>
          <ion-label>
            {{reparacion.fecha_dejaron}}
          </ion-label>
      </ion-item>
    </div>


    <h3>Reparaciones finalizadas</h3>

    <div *ngFor="let reparacion of reparaciones" (click)="viewMoreInformationReparacionFinalizada(reparacion.id)">
      <ion-item color="dark" *ngIf="this.reparacionesEntregadas.id == reparacion.id" >

          <ion-label>
            {{reparacion.nombre_cliente}}
          </ion-label>
          <ion-label>
            {{reparacion.marca}} {{reparacion.modelo}}
          </ion-label>
          <ion-label>
            {{reparacion.fecha_dejaron}}
          </ion-label>
      </ion-item>
    </div>
    
    
  </div>
  
</ion-content>
