<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/productos"></ion-back-button>
      
    </ion-buttons>
    <ion-title>
      Reparaciones
    </ion-title>
    
  </ion-toolbar>
  
</ion-header>



<ion-content class="center" color="dark">
  
  <div class="ion-header">
    <ion-searchbar animated color="light" showCancelButton="always" (ionChange)="buscarReparacion($event)"></ion-searchbar>
  </div>

  <div class='container'>
    <h3>Reparaciones Pendientes</h3>

    <div *ngFor="let reparacion of reparaciones | filtro:textoBuscar ">
      <ion-item *ngIf="reparacion.entregado == false" color="dark" lines ="inset" button [routerLink]="['/entregar-reparacion', reparacion.id]">
        <ion-label >
          <ion-row>
            <ion-col>
              {{reparacion.nombre_cliente}}
            </ion-col>
            <ion-col>
              {{reparacion.marca}} {{reparacion.modelo}}
            </ion-col>
          </ion-row>
        </ion-label>
      </ion-item>
    </div>
    

    <h3>
      Reparaciones Finalizadas
    </h3>

    <div *ngFor="let reparacion of reparaciones | filtro:textoBuscar">
      <ion-item *ngIf="reparacion.entregado == true" color="dark" lines ="inset" button [routerLink]="['/reparaciones-detalle', reparacion.id]">
        <ion-label>
          <ion-row>
            <ion-col>
              {{reparacion.nombre_cliente}}
            </ion-col>
            <ion-col>
              {{reparacion.modelo}}
            </ion-col>
          </ion-row>
        </ion-label>
      </ion-item>
    </div>
  </div>
</ion-content>
