ion-label{
    font-size: 1.5rem;
}
.samsung{
    width: 100px;
    height: auto;
}
.huawei{
    width: 50px;
    height: auto;
}
.lg{
    width: 70px;
    height: auto;
}
.motorola{
    width: 50px;
    height: auto;
}
.apple{
    width: 50px;
    height: auto;
}
.xiaomi{
    width: 50px;
    height: auto;
}
.otros{
    width: 100px;
}